<% unless cart.line_items.empty? %>
<h2> > Your Cart</h2>
<table class="top">
	<%= render(cart.line_items) %>
	<tr class="total_line">
		<td colspan="2" id="space"><b>(+) Total :</b></td>
		<td class="total_cell"><%= to_rupiah(cart.total_price) %></td>
	</tr>
</table>

<table class="btm">
	<tr>
		<td><%= button_to "Checkout", new_order_path, method: :get %></td>
		<td>
			<%= button_to 'Empty cart', cart, method: :delete,
				data: { confirm: 'Are you sure..?' } %>
		</td>
	</tr>
</table>

<% end %>

<hr/>