// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts, #side #cart {
	.item_price, .item_line {
		text-align: right;
		width: 40%;
	}

	.total_line .total_cell {
		font-weight: bold;
		border-top: 3px solid #595;
		text-align: right;
	}

	#space {
		text-align: right;
	}

	.top {
		border-top: 1px dotted #ffffff;
		border-bottom: 1px dotted #ffffff;
		margin-bottom: 5px;	
	}

	.btm {
		margin-bottom: 20px;
	}

}