// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders {

	.header {
		background: #228822;
	}

	.list_line_even {
		background: #e0f8f8;
	}

	.list_line_odd {
		background: #99cc99;
	}

}